/* rest css
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* size border+content= border-box */
}
/* block ele */
p{
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    padding: 20px 18px 16px 14px; 
    /* trbl */
    /* top bottom or left right */
    border: 5px solid red;
    margin:20px;
    margin:auto;

}
/* ht and width do not apply inline ele */
 /* span is inline ele */
 span{
    height: 500px;
    width: 500px;
    background-color: teal;
    color: purple;
    font-size: 20px;
    padding:20px ;
    /* always apply left right  otherwise full padding get the outgrowth of the top bottom padding...cause overlapping*/
    border: 5px solid red;
    margin:30px;
    margin:auto;
    
}